* {
    box-sizing: border-box;
  }

header {
    position: fixed;
    top:0;
    width:100%;
    background-color:#649c67;
    text-align:left;
    height: 120px;
    padding: 20px;
}
.navbar ul{
    list-style-type: none;
    position: fixed;
    right: 25px;
    top:0px;
}
.navbar ul li{
    display: inline-block;
    margin-left: 25px;
}
footer {
    position:fixed;
    bottom: 0;
    width:100%;
    background-color:#649c67;
    text-align:right;
    height: 50px;
    padding: 20px;
}
body{
    margin:0px;
    margin-top: 120px;
    margin-bottom: 50px;
}
h1{
    margin:0px;
    font-size: xx-large;
}
h2{
    font-size:large;
}
h3{
    position:fixed;
    bottom:0px;
    font-size:medium;
}


  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-left: 30%;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  aside{
    float: left;
    width: 50%;
    margin:0px;
    padding: 0px;
  }
  section{
    float:right;
    width: 50%;
    margin:10px #f2f2f2;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 50px;
  }
  
  .sfl {
    margin-top: 10%;
    width:80%
  }

  #tel{
    color:#f2f2f2
  }